body{
text-align:center;
color:blue;
background-color: blueviolet;
}
.heading{
font-size: 20px;
color:skyblue; 
}
img{
    width: 500px;
    height: 500px;
}
.text_image_and_result{
background-color: slateblue;
}
hr{
color:aquamarine;    
}
p{
color: aqua;
background-color: beige;    
}
.copy_right_footer{
    position:fixed;
    color:aquamarine;
    bottom:0;
    width:100%;
    background-color:black;  
    line-height: 3;
    text-align: center;
    }